#ButNouveauParcoursDemarrer
{
  justify-content: flex-start;
  &::before
  {
    content: "🔴" / "";
    font-size: 50px;
  }
}

#ButNouveauParcoursAnnuler
{
  justify-content: flex-start;
  &::before
  {
    content: "◀️" / "";
    font-size: 50px;
  }
}