#ButSuivreParcoursAuDepart
{
  justify-content: flex-start;
  &::before
  {
    content: "⏩" / "";
    font-size: 50px;
  }
}

#ButSuivreParcoursAuPlusPres
{
  justify-content: flex-start;
  &::before
  {
    content: "⏩" / "";
    font-size: 50px;
  }
}

#ButSuivreParcoursAnnuler
{
  justify-content: flex-start;
  &::before
  {
    content: "◀️" / "";
    font-size: 50px;
  }
}

#ButSuivreParcoursAnnuler_Choix
{
  justify-content: flex-start;
  &::before
  {
    content: "◀️" / "";
    font-size: 50px;
  }
}