#ButSuivreParcours
{
  justify-content: flex-start;
  &::before
  {
    content: "▶️" / "";
    font-size: 50px;
  }
}

#ButNouveauParcours
{
  justify-content: flex-start;
  &::before
  {
    content: "🔴" / "";
    font-size: 50px;
  }
}

#ButReglages
{
  justify-content: flex-start;
  &::before
  {
    content: "⚙️" / "";
    font-size: 50px;
  }
}

#ButInfos
{
  justify-content: flex-start;
  &::before
  {
    content: "ℹ️" / "";
    font-size: 50px;
  }
}
