/* Body */
html, body
{
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Empêche le défilement pendant le plein écran */
}

body
{
  overscroll-behavior-y: contain;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-size: 14px;
  color-scheme: dark; /* Changé en dark pour correspondre au fond noir */
  margin: 0;
}

/* Style pour l'écran Home */
#scrHome {
    overflow: hidden;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise toute la hauteur de la vue */
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

#btnWakeLock
{
  color: #888;
  background-color: #000;
  border: 1px solid #444; /* Ajoute un contour fin gris foncé */
  border-radius: 4px;     /* Optionnel : arrondit légèrement les angles */
  padding: 5px 10px;      /* Optionnel : donne un peu d'espace au texte */
  cursor: pointer;
}

#DivVersionBarre
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 18px;
  text-align: center;
  font-size: 0.9em;
}
#TxtVersionActuelle
{
  background-color: black;
  color: white;
}

#TxtVersionFuture
{
  background-color: #080;
  color: white;
}