/* Body */
html, body
{
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Empêche le défilement pendant le plein écran */
}

body
{
  overscroll-behavior-y: contain;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  font-stretch: normal;
  color-scheme: dark;
  margin: 0;
}

#EcranDemarrage
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre le groupe horizontalement */

  z-index: 9999;
  background-color: #000;
}

#ImgLogo
{
}

#TxtOliway
{
  font-weight: bold;
  font-size: 50px;
}

.classTitre
{
  display: flex;
  align-items: center;      /* Centrer verticalement */
  justify-content: center;  /* Centrer horizontalement */
  text-align: center;       /* Centrer horizontalement si 2 lignes */
  box-sizing: border-box;
  font-size: 35px;
  background-color: #000;
  color: #FC6;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 9vh;
  height: 9dvh;
}

/* Buoton cliquable */
.classBouton
{
  display: flex;
  align-items: center;      /* Centrer verticalement */
  justify-content: center;  /* Centrer horizontalement */
  text-align: center;       /* Centrer horizontalement si 2 lignes */
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  font-size: 35px;
  background-color: #000;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 0;
  margin: 0px;
  width: 100%;
  height: 22vh;
  height: 22dvh;
}

/* Texte non cliquable */
.classTexte
{
  display: flex;
  align-items: center;      /* Centrer verticalement */
  justify-content: center;  /* Centrer horizontalement */
  text-align: center;       /* Centrer horizontalement si 2 lignes */
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 35px;
  background-color: #000;
  color: #FC6;
  border: 1px solid #FC6;
  padding: 0;
  margin: 0px;
  width: 100%;
  height: 22vh;
  height: 22dvh;
  white-space: pre-line;
}

/* Espace entre 2 boutons */
.classEspace
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  font-size: 35px;
  background-color: #000;
  color: #FFF;
  border: 1px solid #000;
  padding: 0;
  margin: 0px;
  width: 100%;
  height: 1vh;
  height: 1dvh;
}

/* Texte à saisir */
.classInput
{
  display: flex;
  align-items: center;      /* Centrer verticalement */
  justify-content: center;  /* Centrer horizontalement */
  text-align: center;       /* Centrer horizontalement si 2 lignes */
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 35px;
  background-color: #000;
  color: #FC6;
  border: 1px solid #FC6;
  padding: 0;
  margin: 0px;
  width: 100%;
  height: 22vh;
  height: 22dvh;
}


/* Texte pour les relevés pendant un enregistrement */
.classTexteReleves
{
  display: flex;
  align-items: left;      /* Centrer verticalement */
  justify-content: left;  /* Centrer horizontalement */
  text-align: left;       /* Centrer horizontalement si 2 lignes */
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 35px;
  background-color: #000;
  color: #FC6;
  border: 1px solid #FC6;
  padding: 0;
  margin: 0px;
  width: 100%;
  height: 54vh;
  height: 54dvh;
  white-space: pre-line;
}

#BoutonEnregistrement
{
  display: flex;
  align-items: center;      /* Centrer verticalement */
  justify-content: center;  /* Centrer horizontalement */
  text-align: center;       /* Centrer horizontalement si 2 lignes */
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  background-color: #000;
  color: #888;
  border: 1px solid #000;
  padding: 0;
  margin-left: 20px;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  white-space: pre-line;
}
.valeur-orange
{
    color: #FC6;
    font-weight: bold;
}